* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

pre {
    font-family: 'Courier New', Courier, monospace;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h5 {
    font-size: 16px;
    font-style: italic;
}

.screen-warning {
    font-style: italic;
}

.postit {
    background: #f7f7e7;
    padding: 5px;
}

.indent-one {
    margin-left: 50px;
}

.indent-one-italic {
    margin-left: 50px;
    font-style: italic;
}

.slack-on-top {
    margin-top: 8px;
}

.overlined {
    border-top: 2px solid black;
}
  
.overlined-red {
    border-top: 2px solid red;
}

.print-only {
    display: none;
}
.print-only-2 { 
    display: none;
}

/* "Small" screens */
@media screen and (max-width: 1000px) { /* TODO investigate that one... */
    .screen-only {
        display: none;
    }
}  

/* 
   Believe it or not, that works 
   <pouet-pouet>Duh</pouet-pouet> 
   is in dark pink
*/
pouet-pouet {
    color: rgb(190, 9, 94);
}

/*
 For the table of contents
 */
 .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.toc-list, .toc-list ol {
  list-style-type: none;
}

.toc-list {
  padding: 0;
}

.toc-list ol {
  padding-inline-start: 2ch;
}

.toc-list > li > a {
  font-weight: bold;
  margin-block-start: 1em;
}

.toc-list li > a {
    text-decoration: none;
    display: grid;
    grid-template-columns: auto max-content;
    align-items: end;
}

.toc-list li > a > .title {
    position: relative;
    overflow: hidden;
}

.toc-list li > a .leaders::after {
    position: absolute;
    padding-inline-start: .25ch;
    content: " . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . ";
    text-align: right;
}

.toc-list li > a > .page {
    min-width: 2ch;
    font-variant-numeric: tabular-nums;
    text-align: right;
}
