* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

pre {
    font-family: 'Courier New', Courier, monospace;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h5 {
    font-size: 16px;
    font-style: italic;
}

.screen-warning {
    font-style: italic;
}

.postit {
    background: #f7f7e7;
    padding: 5px;
}

.indent-one {
    margin-left: 50px;
}

.indent-one-italic {
    margin-left: 50px;
    font-style: italic;
}

.slack-on-top {
    margin-top: 8px;
}

.overlined {
    border-top: 2px solid black;
}
  
/* 
   Believe it or not, that works 
   <pouet-pouet>Duh</pouet-pouet> 
   is in dark pink
*/
pouet-pouet {
    color: rgb(190, 9, 94);
}