/*
  This is for the scrolling menu.
*/
/* #nav-menu > ol, ul {
	list-style: none; 
} */

/* Main Menu Styles */	
	
#nav-menu {
	position: fixed; 
	top: 0; 
	/* left: 10px;  */
	/* margin-bottom: 10px; */
	/* position: relative; */
    /* position: absolute; */
	/* width: 620px; */
    width: 100%;
	/* margin: 0 auto; */
	/* background: rgba(245, 245, 245, 0.75); */
	background: rgba(255, 255, 255, 0.85); /* 0.75); */
	border-bottom: 1px solid silver;
	font-size: 20px;
	/* font-size: 16px; */
	z-index: 2;
}

@media screen and (max-width: 1024px) {  /* No var... */
    #nav-menu {
        font-size: 15px;
    }
}

ul#navigation {
	margin: 0px auto;
	position: relative;
	/* float: left; */
	/* border-left: 1px solid #c4dbe7; */
	/* border-right: 1px solid #c4dbe7; */
}

ul#navigation li {
	display: inline;
	/* font-size: 12px; */
	font-weight: bold;
	/* color: darkblue; */
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	/* border-top: 1px solid #c4dbe7; */
	/* border-bottom: 2px solid #c4dbe7; */
}

ul#navigation li a {
	padding: 25px 10px;
	/* color: darkblue; */
	/* text-shadow: 1px 1px 0px #fff; */
	text-decoration: none;
	width: 100%;
	display: inline-block;
	font-weight: bold;
	/* border-right: 1px solid #fff; */
	/* border-left: 1px solid #C2C2C2; */
	/* border-top: 1px solid #fff; */
	/* background: #f5f5f5; */
	/* opacity: 0.85; */
	
	-webkit-transition: color 0.2s linear, background 0.2s linear;	
	-moz-transition: color 0.2s linear, background 0.2s linear;	
	-o-transition: color 0.2s linear, background 0.2s linear;	
	transition: color 0.2s linear, background 0.2s linear;	
}

#home-label {
	font-weight: bold;
}

ul#navigation li a:hover, ul#navigation li a:hover > *, #home-label:hover {
	/* background: #f8f8f8; */
	color: var(--pc-bg-color); /* orange; */
	font-weight: bold;
	/* text-decoration: underline; */
	/* text-shadow: 1px 1px 2px black, 0 0 15px white, 0 0 3px cyan; */
}

ul#navigation li:hover > a {
	/* background: #fff; */
}

/* Drop-Down Navigation */
ul#navigation li:hover > ul {
	visibility: visible;
	opacity: 0.85; /* 1; */
}

ul#navigation ul, ul#navigation ul li ul {
	list-style: none;
    margin: 0;	
    padding: 0;    
	visibility: hidden;
    position: absolute;
    z-index: 99999; /* In front everything */
	/* width: 180px; */
    /* width: auto; */
	width: 100%;
	/* background: #f8f8f8; */
	/* box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055); */
	opacity: 0.5;
	-webkit-transition: opacity 0.2s linear, visibility 0.2s linear; 
	-moz-transition: opacity 0.2s linear, visibility 0.2s linear; 
	-o-transition: opacity 0.2s linear, visibility 0.2s linear; 
	transition: opacity 0.2s linear, visibility 0.2s linear; 	
}

ul#navigation ul {
    top: 56px; /* 43px; */
    left: 1px;
}

ul#navigation ul li ul {
    top: 0;
    left: 181px;
}

ul#navigation ul li {
	/* background: rgba(245, 245, 245, 0.95); */
	clear: both;
	/* width: 100%; */
	border: 0 none;
	/* border-bottom: 1px solid #c9c9c9; */
}

ul#navigation ul li a {
	background: rgba(245, 245, 245, 0.95);
	padding: 7px 15px;
	color: #616161;
	/* text-shadow:1px 1px 0px #fff; */
	text-decoration: none;
	display: inline-block;
	border: 0 none;
	/* float: left; */
	/* clear: both; */
	/* width: 220px; */
    width: 100%;
	min-width: 240px;
	z-index: 100;
}

ul#navigation ul li a * {
	color: #616161;
}

ul#navigation ul li:first-child {
	margin-top: 36px;  /* Related to padding: 25px 10px; in ul#navigation li a, and #nav-menu font-size */
}

/* ul#navigation li a.first {
	border-left: 0 none;
}

ul#navigation li a.last {
	border-right: 0 none;
} */
