.calibre {
    color: #000;
    display: block;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    background-color: black;
    color: white;
    display: block;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1.41667em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    padding-left: 5pt
    }
.calibre10 {
    display: table-cell;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre11 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    float: right;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.calibre12 {
    float: right;
    height: 192px;
    width: 256px
    }
.calibre13 {
    display: block
    }
.calibre14 {
    font-style: italic
    }
.calibre15 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre16 {
    display: block;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.calibre17 {
    background-color: #80ffff;
    display: table-cell;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre18 {
    background-color: #ffff80;
    display: table-cell;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre19 {
    display: block;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre2 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre20 {
    display: block;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre21 {
    display: table-cell;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: top;
    vertical-align: inherit
    }
.calibre22 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre23 {
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em
    }
.calibre24 {
    background-color: #80ffff;
    display: table-cell;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: inherit
    }
.calibre25 {
    height: 77px;
    width: 102px
    }
.calibre26 {
    background-color: #ffff80;
    display: table-cell;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: inherit
    }
.calibre27 {
    display: block;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre28 {
    display: block;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 38px
    }
.calibre29 {
    display: table-cell;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: right;
    vertical-align: inherit
    }
.calibre3 {
    display: list-item;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em
    }
.calibre30 {
    height: auto;
    width: auto
    }
.calibre31 {
    float: left;
    height: 192px;
    width: 256px
    }
.calibre32 {
    float: right;
    height: 256px;
    width: 192px
    }
.calibre33 {
    float: left;
    height: 256px;
    width: 192px
    }
.calibre34 {
    font-weight: bold
    }
.calibre35 {
    display: table-cell;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: inherit
    }
.calibre36 {
    height: 144px;
    width: 774px
    }
.calibre37 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre38 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre39 {
    height: 192px;
    width: 256px
    }
.calibre4 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre40 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    float: left;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre41 {
    display: none
    }
.calibre42 {
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 0.75em
    }
.calibre43 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre44 {
    text-decoration: underline
    }
.calibre45 {
    float: left;
    height: 144px;
    width: 256px
    }
.calibre46 {
    display: block;
    text-align: left
    }
.calibre47 {
    float: right;
    height: 192px;
    width: 153px
    }
.calibre48 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre49 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre5 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre50 {
    display: block;
    margin-left: 40px
    }
.calibre51 {
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em;
    font-style: italic;
    font-weight: bold
    }
.calibre52 {
    display: block;
    text-align: left;
    width: 450px
    }
.calibre53 {
    margin-bottom: 12px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 12px
    }
.calibre6 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre7 {
    display: table-row;
    vertical-align: inherit
    }
.calibre8 {
    display: table-cell;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1em;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: inherit
    }
.calibre9 {
    display: block;
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.pcalibre1:visited {
    color: #000
    }
.pcalibre2:link {
    color: #000
    }
.pcalibre:active {
    color: #000
    }
