body  { 
  color : blue; 
  background-color: lightgray;
  font-weight: normal; 
  font-size: 8pt; 
  font-family: Verdana, Helvetica, Geneva;
/*background-image: url(carbon.fiber.1280x800.png); */
  background-position: top left; 
  background-repeat: repeat 
}
h1 { 
  color: navy; 
  font-style: italic; 
  font-size: 26pt; 
  font-family: Arial, Helvetica, Geneva; 
  padding-left: 5pt 
}
h2 { 
  color: navy; 
  font-size: 12pt; 
  font-family: Verdana, Arial, Helvetica, Geneva; 
}
h3 { 
  font-style: italic; 
  font-weight: bold; 
  font-size: 11pt; 
  font-family: Arial, Helvetica, Geneva; 
}
h4 { 
  font-style: italic; 
  font-weight: bold; 
  font-size: 10pt; 
  font-family: Arial, Helvetica, Geneva; 
}
h5 { 
  font-style: normal; 
  font-weight: bold; 
  font-size: 10pt; 
  font-family: Arial, Helvetica, Geneva; 
}
li { 
  font-size: 10pt; 
  font-weight: normal; 
  font-family: Arial, Helvetica, Geneva; 
}
dt { 
  font-size: 10pt; 
  font-weight: bold; 
  font-family: Arial, Helvetica, Geneva; 
}
dd { 
  font-size: 10pt; 
  font-weight: normal; 
  font-family: Arial, Helvetica, Geneva; 
}
p { 
  font-size: 10pt; 
  font-weight: normal; 
  font-family: Arial, Helvetica, Geneva; 
}
td { 
  font-size: 10pt; 
  font-family: Arial, Helvetica, Geneva; 
}
small { 
  font-size: 8pt; 
  font-family: Arial, Helvetica, Geneva; 
}
blockquote { 
  font-style: italic; 
  font-size: 10pt; 
  font-family: Arial, Helvetica, Geneva; 
}
em { 
  font-size: 10pt; 
  font-style: italic; 
  font-weight: bold; 
  font-family: Arial, Helvetica, Geneva; 
}
pre { 
  font-size: 9pt; 
  font-family: "Source Code Pro", "Courier New", Helvetica, Geneva; 
}
address { 
  font-size: 8pt; 
  font-family: Arial, Helvetica, Geneva; 
}
a:link { color : #0000A0; } 
a:active { color: #8080FF; text-decoration:none; } 
a:visited { color : #8080FF; }
